
$smallDeviceLimitIncl: 600px;

$headerHeight: min(max(80px, 12dvh), 140px);
$contentHeight: calc(100dvh - $headerHeight);

$myBlue: #0042a0;
$myYellow: #ffee00;
$bgBlack: #222222;
$darkBlack: #1c1c1c;

