
$smallDeviceLimitIncl: 600px;

$headerHeight: min(max(70px, 10dvh), 140px);
$contentHeight: calc(100dvh - $headerHeight);

$largePFontSize: max(14px, 1.8dvh);

$myBlue: #0042a0;
$myYellow: #ffee00;
$bgBlack: #222222;
$darkBlack: #1c1c1c;

